<h1>Make your form here</h1>
<form method="post" action="/pirates">
<label for="name"> Pirate name</label>
<input type="text" id="name" name="pirate[name]">
<label for="weight">Pirate weight</label>
<input type="text" id="weight" name="pirate[weight]">
<label for="height">Pirate height</label>
<input type="text" id="height" name="pirate[height]">

<br>
<label for="name">Ship name</label>
<input type="text" id="ship_name_1" name="pirate[ships][][name]">
<label for="type">Ship type</label>
<input type="text" id="ship_type_1" name="pirate[ships][][type]">
<label for="booty">Ship booty</label>
<input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
<br>
<label for="name">Ship name</label>
<input type="text" id="ship_name_2" name="pirate[ships][][name]">
<label for="type">Ship type</label>
<input type="text" id="ship_type_2" name="pirate[ships][][type]">
<label for="booty">Ship booty</label>
<input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
<input type="submit" id="Submit">


</form>
